@model WebApplication.Models.Driver

@{
    ViewData["Title"] = "Trips";
}

<h1>@ViewData["Title"]</h1>

<script>
    function SelectDriverType() {
        var selec = document.getElementById("DriverTypeId");
        var dis = selec.options[selec.selectedIndex].text;
        document.getElementById("mytext").value = dis;
    }

    function SelectGender() {
        document.getElementsByName('radio1')
            .forEach(radio => {
                if (radio.checked) {
                    document.getElementById("inGender").value = radio.value;
                }
            });
    }</script>
<link href="~/TaxiClubStyles/TaxiClubStyleSheet.css" rel="stylesheet" />
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">

                <!-- Profile Image -->
                <div class="card card-primary card-outline">
                    <div class="card-body box-profile">

                        <img class="mylogo" style="width:150px !important"
                             src="~/images/logos.jpg">


                        <h3 class="profile-username text-center">TAXI-CLUB</h3>
                        <p class="text-muted text-center">Admin</p>
                        <ul class="list-group list-group-unbordered mb-3">
                            <li class="list-group-item">
                                <b>TaxiClub Email</b> </br> <p>TaxiClub@gmail.com</p>
                            </li>
                            <li class="list-group-item">
                                <b>TaxiClub Phone-Number</b> </br><p>(011)-053-4535</p>
                            </li>
                            <li class="list-group-item">
                                <b>TaxiClub Fax </b> </br> <p>(011)-053-4535</p>
                            </li>
                        </ul>
                        <form asp-action="Delete">
                            <input type="submit" style="width:180px" value="UPDATE" class="btn btn-primary" />
                        </form>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
                <!-- About Me Box -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">PASSENGER</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <strong><i class="fas fa-book mr-1"></i> detail submitted</strong>

                        <p class="text-muted">
                            Documents recieved
                        </p>
                        <hr>
                        <strong><i class="fas fa-map-marker-alt mr-1"></i> Location</strong>
                        <p class="text-muted">Johanesburg</p>
                        <hr>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header p-2">
                        <ul class="nav nav-pills">
                            <li class="nav-item"><a class="nav-link" href="#update" data-toggle="tab">Activity</a></li>
                            <li class="nav-item"><a class="btn btn-primary" asp-action="AddPickUpArea">PickUp</a></li>
                            <li class="nav-item"><a class="nav-link" asp-action="AddDropOffArea">DropOff</a></li>
                            <li class="nav-item"><a class="nav-link" asp-action="Add">Trip</a></li>
                            <li class="nav-item"><a class="nav-link" asp-action="List">List</a></li>
                            <li class="nav-item"><a class="nav-link" href="#update" data-toggle="tab">Reports</a></li>
                        </ul>
                    </div><!-- /.card-header -->
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="active tab-pane" id="update">
                                <!-- Post -->
                                <div class="card card-primary">
                                    <div class="card-header">
                                        <h3 class="card-title">AREA ADDED</h3>
                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body" style="background-color:white">
                                        <div class="row">
                                            <div>

                                                <div class="row">
                                                    <div class="col-12">
                                                        <img src="~/images/Succ.png" style="position:relative; left:200px; top:30px; height:200px; width:200px;" />
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-3">
                                                        <!-- text input -->

                                                        <label class="control-lable" style="position:relative; left:200px; top:30px; font-size:50px">SUCCESS</label>
                                                        <br />

                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <form asp-action="Assign">
                                                            <a asp-action="AddDropOffArea" class="btn btn-success">Proceed</a>
                                                            <a asp-controller="DropOffAreas" asp-action="List" class="btn btn-primary">List</a>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.card-body -->
                                </div>
                                <!-- Post -->
                                <!-- /.post -->
                            </div>

                            <!-- /.tab-pane -->
                        </div>
                        <!-- /.tab-content -->
                    </div><!-- /.card-body -->
                </div>
                <!-- /.nav-tabs-custom -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>


