<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.taxiclubmobile">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.driver.profile.AssignedPassengerProfile"></activity>
        <activity android:name=".activities.driver.profile.AreaProfile" />
        <activity android:name=".activities.driver.profile.VehicleProfile" />
        <activity android:name=".activities.driver.profile.DriverProfile" />
        <activity android:name=".DummyCheck" />
        <activity android:name=".activities.passenger.application.Apply3rd" />
        <activity android:name=".activities.passenger.application.Apply2nd" />
        <activity android:name=".trips" />
        <activity android:name=".Areas" />
        <activity android:name=".activities.passenger.application.Apply" />
        <activity android:name=".Signup" />
        <activity android:name=".activities.shared.login.Login" />
        <activity android:name=".activities.shared.startup.Startup" />
        <activity android:name=".startup.startup" />
        <activity android:name=".activities.shared.Profile.Profile" />
        <activity android:name=".activities.driver.dashboard.Dashboard" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>